<?xml version="1.0"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<!--<!–  Specify the test suite name –>-->

<suite name="Test Suite Demo" verbose="1" >
    <test name="The Internet Site Demo" >
        <classes>
            <!--For Non login users-->
            <class name="testSuites.LoginPage"/>

        </classes>
    </test>
</suite>
<!--<!–  Specify the test suite name –>-->

<!--<suite name="DeviceSuite" annotations="JDK" parallel="tests">-->
        <!--<test name="Device 1">-->
                <!--<parameter name="port" value="4723"></parameter>-->
                <!--<parameter name="device" value="192.168.16.103:5656"></parameter>-->
                <!--<classes>-->
                        <!--<class name="testSuites.LoginPage">-->
                                <!--<methods>-->
                                    <!--<include name="testDemo" />-->
                                <!--</methods>-->
                        <!--</class>-->
                <!--</classes>-->
        <!--</test>-->
        <!--<test name="Device 2 Sony">-->

                <!--<parameter name="port" value="4724"></parameter>-->
                <!--<parameter name="device" value="192.168.16.106:5657"></parameter>-->
                <!--<classes>-->
                        <!--<class name="testSuites.LoginPage">-->
                                <!--<methods>-->
                                    <!--<include name="testDemo" />-->
                                <!--</methods>-->
                        <!--</class>-->
                <!--</classes>-->
        <!--</test>-->
<!--</suite>-->

