<!--<?xml version="1.0"?>-->
<!--<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">-->

<!--&lt;!&ndash;<!–  Specify the test suite name –>&ndash;&gt;-->

<!--<suite name="Test Suite Demo" verbose="1" >-->
    <!--<test name="The Internet Site Demo" >-->
        <!--<classes>-->
            <!--&lt;!&ndash;For Non login users&ndash;&gt;-->
            <!--<class name="testSuites.LoginPage"/>-->


        <!--</classes>-->
    <!--</test>-->
<!--</suite>-->
<!--&lt;!&ndash;<!–  Specify the test suite name –>&ndash;&gt;-->

<!--&lt;!&ndash;<suite name="DeviceSuite" annotations="JDK" parallel="tests">&ndash;&gt;-->
        <!--&lt;!&ndash;<test name="Device 1">&ndash;&gt;-->
                <!--&lt;!&ndash;<parameter name="port" value="4723"></parameter>&ndash;&gt;-->
                <!--&lt;!&ndash;<parameter name="device" value="192.168.16.103:5656"></parameter>&ndash;&gt;-->
                <!--&lt;!&ndash;<classes>&ndash;&gt;-->
                        <!--&lt;!&ndash;<class name="testSuites.LoginPage">&ndash;&gt;-->
                                <!--&lt;!&ndash;<methods>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<include name="testDemo" />&ndash;&gt;-->
                                <!--&lt;!&ndash;</methods>&ndash;&gt;-->
                        <!--&lt;!&ndash;</class>&ndash;&gt;-->
                <!--&lt;!&ndash;</classes>&ndash;&gt;-->
        <!--&lt;!&ndash;</test>&ndash;&gt;-->
        <!--&lt;!&ndash;<test name="Device 2 Sony">&ndash;&gt;-->

                <!--&lt;!&ndash;<parameter name="port" value="4724"></parameter>&ndash;&gt;-->
                <!--&lt;!&ndash;<parameter name="device" value="192.168.16.106:5657"></parameter>&ndash;&gt;-->
                <!--&lt;!&ndash;<classes>&ndash;&gt;-->
                        <!--&lt;!&ndash;<class name="testSuites.LoginPage">&ndash;&gt;-->
                                <!--&lt;!&ndash;<methods>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<include name="testDemo" />&ndash;&gt;-->
                                <!--&lt;!&ndash;</methods>&ndash;&gt;-->
                        <!--&lt;!&ndash;</class>&ndash;&gt;-->
                <!--&lt;!&ndash;</classes>&ndash;&gt;-->
        <!--&lt;!&ndash;</test>&ndash;&gt;-->
<!--&lt;!&ndash;</suite>&ndash;&gt;-->

